body{
    background-color:rgb(1, 1, 72);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

.uppe{

}

.rundauppe{
    background-color: #00a2ff;
}